{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2>Active Listings</h2>


<!doctype html>
<p>this our main page</p>

{% for post in all_posts %}



<P><a href="{{post.id}}">{{post.title}}</a></P>
{% if post.img %}
<img src="{{post.img.url}}" class="img-responsive ">



{% else %}
<img src="https://recyclingbalers.s3.amazonaws.com/image/No%20Image.jpg" class="img-responsive ">
{% endif %}

{%endfor%}
<br>

<P><a href="createlist">add new post</a></P> 


{% endblock %}