{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <h2 style="color:gray;">watch list</h2>
    <div class="container">
        <main class="tm-main">            
            <div class="row tm-row">
                {% for list in watchlist %}
                    <article height='100px' class="col-12 col-md-6 tm-post">
                        <hr  class="tm-hr-primary">
                            <a href="{{list.post_id.id}}" class="effect-lily tm-post-link tm-pt-60">

                                <div class="card" style="width: 18rem; height: auto;">
                                
                                    <div class="card-body">
                                        <h5 class="card-title">{{list.post_id.title}}</h5>
                                    </div>
                                </div>    
                            </a>
                        </hr>
                        
                    </article>
                    <br>.
              
                {%endfor%}
            </div>        
        </main > 
    </div>
        
     
{% endblock %}

